<nav class="navbar navbar-default">
     <div class="navbar-header">
      <span class="navbar-brand">Freelancer-Demo</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li (click)="setCurrentTab(tabs.Freelancer)" [class.active]="isActive(tabs.Freelancer)"><a href="#">Freelancer</a></li>
        <li (click)="setCurrentTab(tabs.Category)" [class.active]="isActive(tabs.Category)"><a href="#">Category</a></li>
      </ul>
    </div>
</nav>
