<div class="panel panel-default">
    <div *ngIf="!freelancer" class="panel-heading">
        <h3 class="panel-title">Wähle einen Freelancer</h3>
    </div>
    <div *ngIf="freelancer" class="panel-heading">
        <h3 class="panel-title">{{freelancer.firstname}} {{freelancer.lastname}}</h3>
    </div>
    <ul class="list-group" *ngIf="freelancer">
        <li class="list-group-item">
            <span class="list-group-item-heading">Vorname</span>
            <h4 *ngIf="!isEditable()" class="list-group-item-text">{{freelancer.firstname}}</h4>
            <input *ngIf="isEditable()" class="form-control" type="text" [(ngModel)]="freelancer.firstname" >
        </li>
        <li class="list-group-item">
            <span class="list-group-item-heading">Nachname</span>
            <h4 *ngIf="!isEditable()" class="list-group-item-text">{{freelancer.lastname}}</h4>
            <input *ngIf="isEditable()" class="form-control" type="text" [(ngModel)]="freelancer.lastname" >
        </li>
        <li class="list-group-item">
            <span class="list-group-item-heading">Preis pro Tag in €</span>
            <h4 *ngIf="!isEditable()" class="list-group-item-text">{{freelancer.price}}</h4>
            <input *ngIf="isEditable()" class="form-control" type="number" [(ngModel)]="freelancer.price" >
        </li>
    </ul>
</div>
<button class="btn btn-primary" *ngIf="freelancer && !isEditable()" (click)="edit()">Bearbeiten</button>
<button class="btn btn-primary" *ngIf="freelancer && isEditable()" (click)="save()">Speichern</button>
<button class="btn btn-default" *ngIf="freelancer && isEditable()" (click)="cancel()">Abbrechen</button>
<button class="btn btn-default" *ngIf="freelancer && !isEditable()" (click)="delete()">Löschen</button>