<div class="panel panel-default panal-scroll">
    <div class="panel-heading">
        <div class="row">
            <h3 style="display: inline" class="panel-title">Freelancer</h3>
            <button class="btn btn-default" (click)="newFreelancer()">Neu</button>
        </div>
        <div class="row">
            <input class="form-control" type="text" [(ngModel)]="term" >
        </div>
        
    </div>
    
    <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let freelancer of freelancerList | search:term" role="presentation" [class.active]="selected == freelancer">
            <a (click)="selectFreelancer(freelancer)">
                <div>
                    <b>{{freelancer.firstname + ' ' + freelancer.lastname}}</b>
                </div>
                <div>
                    <!--span>{{freelancer.category.name}}</span-->
                    <span>{{freelancer.price + ' €'}}</span>
                </div>
            </a>
        </li>
    </ul>
</div>