<table class="table table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    <tr *ngFor="let category of categoryList">
        <td>{{category.name}}</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-sm" (click)=editCategory(person)>Bearbeiten</button>
                <button type="button" class="btn btn-default btn-sm" (click)=deleteCategory(person)>Löschen</button>
            </div>
        </td>
    </tr>
</table>
<person></person>